.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-element {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
}

.element-info {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
}

.mansTitle {
  color: #8d8988;
  border: 0;
  box-shadow: none;
  margin: 30px 21px 24px;
  text-align: center;
}

.paraText {
  color: #8d8988;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.4;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  width: 80%;
}

.titleText {
  color: #8d8988;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 14px;
  margin-top: 0;
  text-align: center;
}
